<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <script>
        var checkbox = document.getElementById('dead');
        var hiddenInput = document.querySelector('input[name="dead"]');
      
        checkbox.addEventListener('change', function() {
          if (checkbox.checked) {
            hiddenInput.value = "true";
          } else {
            hiddenInput.value = "false";
          }
        });
      </script>
</head>   
<body>
    <main class="container">
    <nav>
        <ul>
          <li><a href="/"><strong>Darkplace Hosptial</strong></a></li>
        </ul>
        <ul>
            <li><form method="post" action="/addpatient">
                <button type="submit" name="action" value="addpatient">Add new Patient</button>
            </form></li>
            <li><form method="post" action="/searchpatient">
                <button type="submit" name="action" value="searchpatient">Search Patient</button>
            </form></li>
            <li><form>
                <a href="https://www.channel4.com/programmes/garth-marenghis-darkplace" >About</a>
            </form></li>
        </ul>
      </nav>
    </main>
    <main class="container">
        <form method="post" action="/addPatientToDB">
            <div class ="grid">
                <label for="firstname">
                    First name
                    <input type="text" id="firstname" name="firstname" placeholder="First name" required>
                </label>
                <label for="lastname">
                    Last name
                    <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
                </label>
            </div>
            <div class = "grid">
                <label for="dob">
                    Date of Birth
                    <input type="text" id="dob" name="dob" placeholder="YYYY-MM-DD" required>    
                </label>
            </div>
            <div class="grid">
                <label for="medInfo">
                    Medical information
                    <textarea id="medInfo" name="medInfo" placeholder="Medical information" required></textarea>
                </label>
            </div>
            <div class="grid">
                <label for="dead">
                    Is the patient dead?
                    <input type="checkbox" id="dead" name="dead"></input>
                    <input type="hidden" id="dead" name="dead" value="false"></input>
                </label>
            </div>
            <div class="grid">
                <button type="submit">Submit</button>
            </div>
        </form>
    </main>
</body>
</html>