<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <title>Darkplace hospital</title>
</head>
<body>
  <header class="container">
    <nav>
        <ul>
          <li><form><a href="/"><strong>Darkplace Hosptial</strong></a></form></li>
        </ul>
        <ul>
            <li><form method="post" action="/addpatient">
                <button type="submit" name="action" value="addpatient">Add new Patient</button>
            </form></li>
            <li><form method="post" action="/searchpatient">
                <button type="submit" name="action" value="searchpatient">Search Patient</button>
            </form></li>
            <li><form>
                <a href="https://www.channel4.com/programmes/garth-marenghis-darkplace" >About</a>
            </form></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <img width="1000" th:src="@{images/garth_marenghis_darkplace_2.jpg}"/>
    </main>
</body>
</html>
