<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <script th:inline="javascript">
        /* Access the message variable and display an alert */
        var message = /*[[${message}]]*/ '';
        if (message) {
            alert(message);
        }
    </script>
</head>
   
<body>
    <header class="container">
    <nav>
        <ul>
            <li><form><a href="/"><strong>Darkplace Hosptial</strong></a></form></li>
        </ul>
      </nav>
    </header>
    <main class="container">
        <form method="post" action="/loginSubmit">
            <div class ="grid">
                
                    <label for="username">
                        User Name
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </label>
                    <label for="password">
                        Password
                        <input type="text" id="password" name="password" placeholder="Password" required>
                    </label>
               
            </div>
            <p id="error" th:text="${errorMessage}" th:if="${errorMessage}">
            </p>
            <div class="grid">
                <button type="submit">Submit</button>
            </div>
        </form>
    </main>
</body>
</html>