<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <main class="container">
    <nav>
        <ul>
            <li><form><a href="/"><strong>Darkplace Hosptial</strong></a></form></li>
        </ul>
        <ul>
            <li><form method="post" action="/addpatient">
                <button type="submit" name="action" value="addpatient">Add new Patient</button>
            </form></li>
            <li><form method="post" action="/searchpatient">
                <button type="submit" name="action" value="searchpatient">Search Patient</button>
            </form></li>
            <li><form>
                <a href="https://www.channel4.com/programmes/garth-marenghis-darkplace" >About</a>
            </form></li>
        </ul>
      </nav>
    </main>
    <main class="container">
            <form id="searchForm" method="post" action="searchSpecificPatient">
                <input type="search" id="searchbar" name="searchbar" placeholder="Search by Surname">
            </form>
            <p id="error" th:text="${errorMessage}" th:if="${errorMessage}">
            </p>

        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Medical Information</th>
                    <th>Is Dead</th>
                    <th>Medication</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="index : ${#numbers.sequence(0, fNames.size() - 1)}">
                    <td th:text="${fNames[index]}"></td>
                    <td th:text="${lNames[index]}"></td>
                    <td th:text="${dobs[index]}"></td>
                    <td th:text="${medInfos[index]}"></td>
                    <td th:text="${deads[index]}"></td>
                    <td th:text="${meds[index]}"></td>
                </tr>
            </tbody>
        </table>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var searchInput = document.getElementById("searchbar");

            searchInput.addEventListener("keypress", function(event) {
                if (event.keyCode === 13) { 
                    event.preventDefault();
                    document.getElementById("searchForm").submit();
                }
            });
        });
    </script>

</body>
</html>